
.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
  width: 8px; /* Set the width to your desired value */
  height: 8px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #333;
  color: white;
  height: 100px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
  width: auto; /* Preserve the aspect ratio */
  height: 5px;
}

.button {
  text-decoration: none;
  color: white;
  background-color: transparent;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 20px; /* Add border-radius for rounded edges */
}

.buttonGroup {
  display: flex;
}

.buttonGroup .button + .button {
  margin-left: 1rem;
}

.loginButton {
  background-color: #007bff;
  border: 1px solid #007bff; /* Add border color to match background color */
}

.registerButton {
  background-color: #28a745;
  border: 1px solid #28a745; /* Add border color to match background color */
}

.profileButton,
.logoutButton {
  background-color: #ffc107;
  padding: 0.5rem 1rem; /* Add the same padding as the other buttons */
}


.noProfileMessage {
  color: red;
  font-weight: bold;
}

.listingsButton {
  background-color: #6c757d;
  border: 1px solid #6c757d;
}
.logoutButton {
  background-color: red;
  border: none;
  color: white;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
  margin-left: 1rem;
}

.resumeButton {
  background-color: #ffc107;
  padding: 0.5rem 1rem; /* Add the same padding as the other buttons */
  /* Add any additional styles you want for the Resumes button */
}
