.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #455a64;
}

.logo {
  width: 100px;
}

.button, .universityButton, .teacherButton, .loginButton, .registerButton, .logoutButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 35px;
  line-height: 35px;
  margin-left: 15px;
  padding: 0;
  border: none;
  border-radius: 5px;
  background-color: #546e7a;
  color: #FFFFFF;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
}

.buttonGroup {
  display: flex;
}

.dropdown {
  display: inline-block;
  position: relative;
  width: 110px;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdownContent .dropdownLink {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownContent .dropdownLink:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.dropdown:hover .universityButton, .dropdown:hover .teacherButton {
  background-color: #3e8e41;
}
