.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 100vh; /* Ensure the container takes up the full height of the viewport */
  padding-bottom: 20px; /* Add space at the bottom of the container */
}

.profileSection {
  display: flex;
  align-items: flex-start;
  margin-left: 20px; /* Add space to the left side of the profile section */
}

.profilePicture {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.nameInfo {
  margin-left: 10px; /* Add space between profile picture and name info */
}

.infoSection {
  flex: 1;
  display: flex;
  flex-direction: column; /* Display the data vertically */
  margin-left: 20px; /* Add space to the left side of the info section */
}

.label {
  font-weight: bold;
}

.value {
  margin-left: 5px;
}

.thirdSection {
  margin-top: 20px;
  /* Add your styles for the third section here */
}
