.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profileSection {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.profilePicture {
  flex: 0 0 auto;
  width: 240px; /* Adjust the width to your preference */
  height: 180px; /* Adjust the height to maintain the 4x3 aspect ratio */
  margin-right: 20px;
}


.firstBlock {
  display: flex;
  flex-direction: column;
}

.secondBlock {
  margin-bottom: 20px;
}

.thirdBlock {
  margin-bottom: 20px;
}
.info {
  margin-bottom: 10px;
}

.label {
  font-weight: bold;
}

.value {
  margin-left: 5px;
}
