.main-container {
  width: 90%;
  margin: 0 auto;
  font-family: 'Arial', sans-serif;
  background-color: #EAEAEA;
  padding: 20px;
  border-radius: 10px;
}

.loading-message {
  font-size: 20px;
  color: #333;
  text-align: center;
  padding-top: 50px;
}

.title {
  font-size: 36px;
  color: #333;
  text-align: center;
  margin-bottom: 30px;
}

.resume-container {
  background-color: #FFF;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 1px solid #CCC;
}

.resume-id {
  font-size: 24px;
  color: #333;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 2px solid #666;
  margin-bottom: 20px;
}

.resume-details {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 20px;
  row-gap: 15px;
}

.resume-header {
  width: 100%;
  font-size: 20px;
  color: #333;
  font-weight: bold;
}

.resume-text {
  font-size: 18px;
  color: #666;
  word-wrap: break-word;
}
